.productpage{
    /* border: 1px solid red; */
    width: 85%;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}
.product__image{
    /* border: 1px solid blue; */
    flex: 4;
    display: flex;
    gap: 30px;
}
.product__image__list{
    /* border: 1px solid rgb(30, 178, 184); */
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product__image__list > img{
    border: 1px solid rgb(241,243,246);
}
.product__image__list img:hover{
    cursor: pointer;
    border: 2px solid black;
}
.product__image__list .selected{
    border: 2px solid black;
}

.product__image__full{
    /* border: 1px solid rgb(19, 194, 19); */
    flex: 6;
    height: 580px;
}
.product__image__full img{
    align-self: flex-start;
}

.productpage__info{
    /* border: 1px solid yellowgreen; */
    flex: 3;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* gap: 30px; */
}
.productpage__title{
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 33px;
    margin: 8px 0px;
    font-weight: 600;
}
.productpage__price, .save__price{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.productpage__priceDiscount{
    font-size: 24px;
    line-height: 33.6px;
    margin: 8px 0px;
    font-weight: 600;
}
.productpage__quantity{
    margin-top: 30px;
    margin-bottom: 10px;
}
.productpage__quantity__change{
    display: flex;
    width: 120px;
    margin-bottom: 30px;
}
.productpage__quantity__change div, .productpage__quantity__change button{
    border: 1px solid rgb(27, 27, 27);
    flex: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 17px;
    /* font-weight: 400; */
}
.productpage__quantity__change div{
    border-left: none;
    border-right: none;
}
.disabled{
    background-color: rgb(170, 170, 170);
    color: rgb(228,228,228);
    cursor: no-drop;
}
.product__overview{
    margin-bottom: 30px;
}
