.orderspage{
    width: 75%;
    margin: 5rem auto;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.orderspage > p{
    margin-left: 20px;
}

.orderspage__body {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.orderspage__orderedProduct{
    color: #171717;
    padding: 1rem 0rem;
    background-color: rgb(241, 241, 241);
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orderspage__orderedProduct img{
    width: 100px;
    object-fit: contain;
    border-radius: 10px;
}

.order__title{
    width: 500px;
}

.orderspage__orderStatus {
    font-size: 0.9rem;
    font-weight: 550;
}


@media (max-width: 1100px){
    .orderspage{
        width: 90%;
    }
}

@media (max-width: 900px){
    .order__title{
        width: 300px;
    }
}

@media (max-width: 700px){
    .order__title{
        width: 200px;
    }
}

@media (max-width: 550px){
    .orderspage__orderedProduct img{
        width: 50px;
    }
}

@media (max-width: 500px){
    .order__title{
        font-size: 14px;
    }
}

@media (max-width: 450px){
    .order__title{
        font-size: 12px;
    }
}





