.checkout {
    display: flex;
    max-width: 1200px;
    margin: 2rem auto;
    gap: 1rem;
}

.checkout__left {
    flex: 7;
    background-color: transparent;
}

.checkout__left h2{
    margin: 1rem 0rem 1rem 1rem;
}

.checkout__right {
    flex: 3;
    background-color: transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: sticky;
    top: 5rem;
}

.checkout__right__heading {
    padding: 1rem;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(115, 115, 115);
}

.checkout__right__info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

hr {
    border: 1px solid rgb(241,243,246);;
}

.checkout__right__info div {
    display: flex;
    justify-content: space-between;
    /* color: rgb(60, 60, 60); */
}

.checkout__right__info div:nth-child(1), .checkout__right__info div:nth-child(2) {
    color: rgb(40,40,40);
}

.free {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(56, 142, 60);
}

.checkout__right__totalPrice {
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(1, 1, 1);
}