.homepage{
    max-width:1300px;
    margin: 1rem auto;
    margin-left: 2rem;
    margin-right: 2rem;
}

.homepage__title{
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.homepage__products{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

@media (max-width: 1200px){
    .homepage__products{
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 1040px){
    .homepage__products{
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 670px){
    .homepage__products{
        grid-template-columns: 1fr;
    }
}