.signuppage {
    /* border:  1px solid red; */
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.signuppage__heading{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.signuppage__info {
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.signuppage__info input {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding-left: 10px;
}

.signuppage__info p {
    font-size: 0.9rem;
    font-weight: bold;
    color: #171717;
    margin-bottom: 5px;
}

.signuppage__button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 5px;
}