.signinScreen {
    /* border:  1px solid red; */
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.signinScreen__heading{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.signinScreen__info {
    width: 100%;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    margin-bottom: 20px;
}

.signinScreen__email, .signinScreen__password {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    outline: none;
    padding-left: 10px;
}

.signinScreen__info p {
    font-size: 0.9rem;
    font-weight: bold;
    color: #171717;
    margin-bottom: 5px;
}

.signinScreen__button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    margin-bottom: 10px;
}

.signinScreen__wayToSignUp {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
}

.signinScreen__wayToSignUp a{
    width: 100%;
}

.signinScreen__wayToSignUp p{
    margin-bottom: 15px;
}

.signinScreen__wayToSignUp button {
    height: 35px;
    width: 100%;
    cursor: pointer;
}