.searchBar{
  width: 55%;
  gap: 10px;
}

.searchBar__input {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 10px; */
  background-color: white;
}

.searchBar__input > div{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}

.searchBar__input input {
  flex: 1;
  height: 100%;
  padding-left: 20px;
  font-size: 1rem;
  outline: none;
  border: 2px solid white;
}

.cross {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.searchBar__searchIcon {
  width: 10%;
  height: 100%;
  border: none;
  background-color: lightblue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchResults{
  /* border: 1px solid red; */
  position: fixed;
  height: 200px;
  width: 47.9%;
  margin-top: 5px;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  color: rgb(38, 38, 38);
  
  overflow: scroll;
}

.searchResults p{
  padding: 10px 30px;
}

.searchResults p:hover{
  cursor: pointer;
  background-color: rgb(217, 217, 217);
}


@media (max-width: 1300px){
  .searchResults{
    width: 47.6%;
  }
}

@media (max-width: 1200px) {
    .searchBar {
      width: 45%;
    }

    .searchResults{
      width: 38.8%;
    }
  
    .searchBar input {
      width: 90%;
    }
  
    .searchBar__searchIcon {
      width: 10%;
    }
  }
  
  /* @media (max-width: 1100px) {
    .searchBar {
      width: 40%;
    }
    .searchResults{
      width: 30%;
    }
    .searchBar input {
      width: 90%;
    }
    .searchBar__searchIcon {
      width: 10%;
    }
  } */
  
  @media (max-width: 1100px) {
    .searchBar {
      width: 35%;
    }
    .searchBar input {
      width: 88%;
    }
    .searchResults{
      width: 29.4%;
    }
    .searchBar__searchIcon {
      width: 12%;
    }
  }
  
  @media (max-width: 860px) {
    .searchBar {
      width: 55%;
    }
    .searchBar input {
      width: 87%;
    }
    .searchResults{
      width:  45.1%;
    }
    .searchBar__searchIcon {
      width: 13%;
    }
  }
  
  @media (max-width: 660px) {
    .searchBar {
      display: none;
    }
  }