.homepage{
    display: flex;
    padding: 35px 30px;
    gap: 35px;
    width: 95%;
    margin: 10px auto;
}

.product__list{
    flex: 7;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.homepage__heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
}

.homepage__headTitle{
    font-family: "Poly Regular", "Times New Roman", serif;
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.homepage__count{
    font-family: "lato regular", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 19.992px;
    font-weight: 500;
}

.homepage__functionality{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage__sorting{
    display: flex;
    gap: 16px;
}

.homepage__sorting label{
    font-family: "lato regular", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-family: 14px;
    line-height: 40px;
    font-weight: 500;
}

.homepage__sorting select{
    width: 250px;
    font-family: "lato regular", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 19.992px;
    padding: 10px;
    font-weight: 500;
}

.products__pagination{
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.products__pagination div{
    padding: 10px 15px;
    border: 1px solid rgb(38, 38, 38);
    cursor: pointer;
}

.current__page__number{
    background-color: rgb(38, 38, 38);
    color: rgb(232, 232, 232);
}

.homepage__title{
    font-size: 1.5rem;
    color: #171717;
    margin-bottom: 1rem;
    margin-left: 8px;
}

.homepage__products{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}

@media (max-width: 1100px){
    .homepage__products{
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 850px){
    .homepage__products{
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 730px){
    .homepage__sorting select{
        width: 150px;
    }
    .products__pagination div{
        padding: 5px 10px;
    }
}

@media (max-width: 570px){
    .homepage__products{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 520px){
    .homepage{
        width: 100%;
        padding-left:25px;
        padding-right: 25px;
    }
    .homepage__sorting select{
        width: 100px;
    }
    .products__pagination div{
        padding: 5px 10px;
    }
}

@media (max-width: 520px){
    .homepage{
        width: 100%;
        padding-left:25px;
        padding-right: 25px;
    }
    .homepage__sorting select{
        width: 100px;
    }
    .products__pagination div{
        padding: 2px 6px;
    }
}