.checkout {
    display: flex;
    max-width: 1200px;
    margin: 2rem auto;
    gap: 1rem;
}

.checkout__left {
  padding: 2rem;
    flex: 7;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout__addAddress {
  margin-bottom: 10px;
}

.checkout__showAddress > p {
  margin-left: 20px;
  margin-top: 20px;
}

.checkout__address {
  padding-left: 2.5rem;
  display: flex;
  gap: 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

}

.checkout__products__summery, .checkout__payment__modes, .checkout__address__details {
  padding: 1rem;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.checkout__payment__modes > div{
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  gap: 20px;
}
.checkout__payment__modes > div p{
  font-size: 0.9rem;
  font-weight: 550;
  color: #171717;
}

input{
  outline: none;
}
.card__num {
  height: 30px;
  width: 40%;
  padding-left: 20px;
}
.card__payment > div{
  display: flex;
  gap: 30px;
}
.validity {
  height: 30px;
  width: 120px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
.validity select {
  outline: none;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}
.cvv {
  width: 100px;
  height: 30px;
  padding-left: 10px;
}

.checkout__right {
    flex: 3;
    background-color: transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: sticky;
    top: 5rem;
}

.checkout__right__heading {
    padding: 1rem;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(115, 115, 115);
}

.checkout__right__info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

hr {
    border: 1px solid rgb(241,243,246);;
}

.checkout__right__info div {
    display: flex;
    justify-content: space-between;
    /* color: rgb(60, 60, 60); */
}

.checkout__right__info div:nth-child(1), .checkout__right__info div:nth-child(2) {
    color: rgb(40,40,40);
}

.free {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(56, 142, 60);
}

.checkout__right__totalPrice {
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    color: rgb(1, 1, 1);
}

.placeOrder__button {
  border: none;
  padding: 10px 30px;
  text-align: center;
  align-self: flex-end;
  font-size: 1.2rem;
  border-radius: 5px;
  color: #f4f4f4;
  background-color: rgb(68, 110, 247);
  cursor: pointer;
}

@media (max-width: 1320px) {
    .checkout {
      max-width: 1000px;
    }
  }
  
  @media (max-width: 1060px) {
    .checkout {
      max-width: 900px;
    }
  }
  
  @media (max-width: 960px) {
    .checkout {
      max-width: 700px;
      flex-direction: column;
    }
  
    .checkout__left {
      margin: 0;
    }
  
    .checkout__right {
      margin: 1rem;
    }
  }

  @media (max-width: 700px){
    .card__num {
      width: 60%;
    }
  }
  @media (max-width: 530px){
    .card__num {
      width: 80%;
    }
  }
  @media (max-width: 440px){
    .card__num {
      width: 100%;
    }
    .card__payment > div{
      flex-direction: column;
    }
  }